.title {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.videoTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.videoPlayer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.videoDescription {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.searchBar {
  margin-top: 1rem;
  position: relative;
  top: 0;
}
